@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Shadows Into Light';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./ShadowsIntoLight-Regular.ttf') format('truetype');
}
